.cardContainer {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 310px;
    background-color: rgba(8, 21, 16, 0.576);
    color: beige;
    font-family:serif;
    align-items:center ;
    margin: 10px;
    cursor: pointer;
    
}

.recipeImage {
        width: 200px;
        align-self: center;

}

.title{
    display: flex;
    text-align:center;
    font-family:arial;
    font-size: 16px;
    color: beige;
  
    margin-left: 10px;
    margin-right: 10px;
    /* background-color:rgba(246, 246, 246, 0.421) ; 
    text-shadow: 10px 10px 10px  black;  */
    /* -webkit-text-stroke:  0.4px rgba(0, 0, 0); */
    /* border-radius: 50px; */
    /* font-weight: 900; */

}

.dietcard {
    display: flex;
    font-size: 13px;
    font-family: Arial;
    align-self: center;
    color:beige;
    text-align: center;
    width: 80%;
    
}