.container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 1300px;
    /* background-color: bisque; */
    background-image: url('../images/fondo.jpg');
    background-position: center;
    background-size: cover;
    color: black;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    width: 90%;
    height: 100px;
    /* background-color:  rgba(0, 0, 0, 0.197); */

    background-color: rgba(8, 21, 16, 0.604);
    /* background-image: url('../images/nav.jpg');  */
    color:black
}

.pages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    height: 100%;
    /* background-color:  rgba(0, 0, 0, 0.197); */

    background-color: rgba(8, 21, 16, 0.604);
    align-self: center;
    margin-top: 5px;
 
}

.searchbar {
    width: 90%;
    height: 70px;
    /* background-color:   rgba(0, 0, 0, 0.305); */
    background-color: rgba(8, 21, 16, 0.604);

    align-self: center;
    margin-top: 5px;
    align-items: center;
    

}

h2 {
    text-align: center;
    font-family: serif;
    font-size: 65px;
    color: rgba(246, 246, 242, 0.994);
    /* background-color:rgba(12, 12, 12, 0.3) ; */
    -webkit-text-stroke:  0.5px rgb(24, 31, 29);
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
}
h2:hover {
    color: white;
    cursor: pointer;
    text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.642);
}

h5 {
    text-align: center;
    font-family: serif;
    font-size: 40px;
    color: rgb(246, 246, 244);
    /* background-color:rgba(12, 12, 12, 0.3) ; */
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.686);
    -webkit-text-stroke:  0.5px rgb(17, 22, 21);
    
}

h5:hover {
    color: white;
    cursor: pointer;
    text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.642);

}