.pageButton {
    font-size: 13px;
    border-radius: 5px; 
    background-color: rgba(8, 21, 16, 0.904);
    color: beige;
    height: 28px;
    width: 30px;
    text-align: center;
    align-self: center;
    font-weight: bold;

}
.pageButton:hover {
    background-color:rgba(245, 245, 220, 0.914);
    color: rgb(4, 13, 9);
    cursor: pointer;
}

.pageNumbers {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
    justify-content: center;
}

.ulPages {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
}
li {
    text-decoration: none;
    list-style: none;
}

ul{
    text-decoration: none;
    list-style: none;
}

