.pages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    width:fit-content;
    padding: 5px;
    font-size: 20px;
    font-family: serif;
    text-align: center;
    font-family:serif;
    color: rgb(17, 22, 21);
     background-color:rgba(246, 246, 246, 0.63) ;  
    /* text-shadow: 10px 10px 10px  black; */
    /* -webkit-text-stroke:  0.4px rgba(0, 0, 0); */
    border-radius: 30px;
    letter-spacing: 2px;
    font-weight: 800;
    
}

.input {
    display: flex;
    flex-direction:column;
    margin: 20px;
}

.dietInput {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-items: center;

}

.titleInput {
    width: 800px;
    height: 30px;
    border-radius: 5px; 
    font-size: 16px;
}

.resumeInput {
    width: 800px;
    height: 60px;
    border-radius: 5px; 
    font-size: 16px;
}

.instructionsInput {
    width: 800px;
    height: 180px;
    border-radius: 5px; 
    font-size: 16px;
}

.imageInput {
    width: 800px;
    height: 30px;
    border-radius: 5px; 
    font-size: 16px;
}

button {
    width: 100px;
    height: 37px;
    border-radius: 5px; 
    background-color: rgba(8, 21, 16, 0.904);
    color: beige;
    margin-right: 30px;
    font-size: 18px;
    letter-spacing: 2px;
    justify-self: center;
}

.scoresAndDiets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.scores {
    display: flex;
    flex-direction: column;
   
    justify-content: center;
   
}
.scoreInput {
    width: 80px;
    height: 30px;
    border-radius: 5px; 
    font-size: 16px;
    margin: 5px;
}

.checkboxInput {
    width: 20px;
}

span {
    font-size: 20px;
    font-family: serif;
    text-align: center;
    font-family:serif;
    color: rgb(255, 255, 255);
     font-weight: 1000;
     letter-spacing: 1px;
     align-self: center;
     background-color: rgba(0, 0, 0, 0.236);


     
}

.error {
    background-color: rgba(178, 35, 35, 0.742);
    color: rgb(246, 246, 246);
    font-size: 12px;
    font-family: arial;
 
    padding: 3px;
    margin-left: 10px;
    border-radius: 2px;
    width:fit-content;
    letter-spacing: 2px;

}
.container {
    height: 1500px;
}