.containerbar {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    align-items:center;
    padding-top: 6px;

 
}

input {
    width: 300px;
    height: 30px;
    border-radius: 5px; 
    font-size: 16px;
 
 
}
.az{
    width: 60px;
    height: 32px;
    border-radius: 5px;
    
}

.diet{
    width: 160px;
    height: 32px;
    border-radius: 5px;
}

.score {
    width: 120px;
    height: 32px;
    border-radius: 5px;
}

.type {
    width: 80px;
    height: 32px;
    border-radius: 5px;
}
button {
    width: 100px;
    height: 37px;
    border-radius: 5px; 
    background-color: rgba(8, 21, 16, 0.904);
    color: beige;
    margin-right: 30px;
    font-size: 18px;
}
button:hover {
    background-color:rgba(245, 245, 220, 0.914);
    color: rgb(4, 13, 9);
    cursor: pointer;
}

option {
    font-size: 15px;
}